li {
  display: flex;
  height: 42px;
  padding: 12px 8px 12px 12px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  border-bottom: 1.5px solid #79776B;
  background: #FCFAEE;
}
li > input[type="checkbox"] {
  width: 16px;
  aspect-ratio: 1;
  top: 50%;
  transform: translateY(-30%); /* 버튼이 세로로 중앙 정렬되도록 */
}
li input[type="text"] {
  height: 100%;
  border-radius: 4px;
  padding: 8px;
  flex: 1;
  border: 1px solid #ddd;
  /* background: #022344; */
}
li > span {
  text-align: left;
  flex: 1;
  padding: 0 8px;
  height: 100%;
}

li > button {
  border: none;
  /* margin-left: -4px; */
  /* border-radius: 4px; */
  padding: 4px;
}