.ulcontainer {
  display: flex;
  flex-direction: column; /* 세로로 정렬 */
  align-items: center; /* 중앙 정렬 */
  justify-content: flex-start; /* 위쪽에 배치 */
  /* padding: 20px; */
  width: 100%; 
  box-sizing: border-box;
  overflow: hidden;
}



ul {
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
}